# Template for initial cache list - multicore version (no GPU support)
#
# Modify for your local machine.
#
# Usage: cmake -C /path/to/this/file [other options] /path/to/source/dir

# SPRNG (optional)
set(SPRNG_DIR "/path/to/SPRNG-installation"
  CACHE PATH "Path to SPRNG installation directory.")

# HDF5
# CMake 3.6 does not properly find HDF5 if HDF5_ROOT is not set.
set(HDF5_ROOT "/path/to/HDF5-installation" CACHE PATH "Path to HDF5 installation directory.")

# FFTW
set(FFTW_INCLUDE_DIR "/path/to/FFTW3-include-dir" CACHE PATH "Path to fftw3.h.")
set(FFTW_LIBRARY "FFTW3-library" CACHE FILEPATH "FFTW3 library.")

# TEST_RUNNER must be set to the command to run an application.
# In particular, if CXX and CC are MPI C++ and C compiler wrappers, it is the command that runs an
# MPI application.
set(TEST_RUNNER "/path/to/eg/mpiexec"
  CACHE FILEPATH "Command to run an application.")

set(MPIEXEC_NUMPROC_FLAG "-np"
  CACHE STRING "Flag used by TEST_RUNNER to specify the number of processes.")
