################################################################################
# Template for initial cache list.
# CPU version (no GPU support).
# Modify for your local machine.
# Usage: cmake -C path/to/this/file/local_CPU.cmake ..
################################################################################

# Location of external libraries.
# NFFT: If the instructions in libs/README are followed, NFFT_DIR should be set
# to "${CMAKE_CURRENT_LIST_DIR}/../libs"
set(NFFT_DIR "/path/to/NFFT-installation"
  CACHE FILEPATH "Path to NFFT installation directory.")
# spglib: If the instructions in libs/README are followed, SPGLIB_DIR should be
# set to "${CMAKE_CURRENT_LIST_DIR}/../libs"
set(SPGLIB_DIR "/path/to/spglib-installation"
  CACHE FILEPATH "Path to spglib installation directory.")

set(SPRNG_DIR 'path/to/sprng/directory'
   CACHE FILEPATH "Path to SPRNG installation directory.")
# Google Test: This uses the provided version of Google Test in libs.
set(gtest_DIR "${CMAKE_CURRENT_LIST_DIR}/../libs/gmock-1.7.0/gtest/"
  CACHE FILEPATH "Path to Google Test.")
mark_as_advanced(SPRNG_DIR)

# MPIEXEC stuff for executing parallel tests.
# Note: CXX and CC must be set as environment variables to the corresponding MPI
#       C++ and C compiler wrappers before running cmake.
set(MPIEXEC "/path/to/mpiexec/mpiexec"
  CACHE FILEPATH "Executable for running MPI programs.")
set(MPIEXEC_NUMPROC_FLAG "-np"
  CACHE FILEPATH "Flag used by MPI to specify the number of processes for
                  MPIEXEC; the next option will be the number of processes.")
mark_as_advanced(MPIEXEC MPIEXEC_NUMPROC_FLAG MPIEXEC_POSTFLAGS)
